<nav class="navbar mb-5 navbar-expand-lg navbar-light bg-success text-light">
  <div class="container">
    <a class="navbar-brand fs-2" routerLink="/form"
      ><strong>Digital Form</strong></a
    >
    <ul class="navbar-nav align-end mb-2 mb-lg-0">
      <li class="nav-item mx-2 fs-4">
        <a class="nav-link" routerLink="/form"><strong>Home</strong></a>
      </li>
      <li class="nav-item mx-2 fs-4">
        <a class="nav-link" routerLink="/view">
          <strong>View Submissions</strong></a
        >
      </li>
    </ul>
  </div>
</nav>
