<div class="container bg-light p-5 border border-dark">
  <form
    class="mx-auto my-5 form"
    [formGroup]="doccumentForm"
    (ngSubmit)="onSubmit()"
  >
    <div id="user-data">
      <div class="row my-3">
        <!-- name -->
        <div class="form-group col-lg-5 col-md-12">
          <label for="name">Name (Last, First, MI) *</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            class="form-control"
          />
          <!-- <span
            *ngIf="
              doccumentForm.get('name').valid &&
              doccumentForm.get('name').touched
            "
            class="help-block"
            >Please enter a name</span
          > -->
        </div>
        <!-- id number -->
        <div class="form-group col-lg-5 col-md-12">
          <label for="id">ID# *</label>
          <input
            type="number"
            id="id"
            formControlName="id"
            class="form-control"
          />
        </div>
      </div>
    </div>
    <!-- email -->
    <div class="row my-3">
      <div class="col-lg-5 col-md-12">
        <label for="email">Email *</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
        />
      </div>
      <!-- select -->
      <div class="col-lg-5 col-md-12">
        <label for="Branch">Branch of service *</label>
        <select
          id="branch"
          formControlName="branch"
          class="form-control form-select"
        >
          <option selected>Please Select One</option>
          <option value="Navy">Navy</option>
          <option value="Army">Army</option>
          <option value="Marines">Marines</option>
          <option value="Air-force">Air Force</option>
        </select>
      </div>
    </div>
    <!-- radio -->
    <div class="row my-3">
      <div class="radio" *ngFor="let gender of genders">
        <label class="col-5">
          <input
            class="mx-2"
            type="radio"
            formControlName="gender"
            [value]="gender"
          />{{ gender }}
        </label>
      </div>
    </div>
    <!-- checkbox -->
    <div class="form-check">
      <label class="col-5" for="mishap">
        Active duty
        <input
          class="form-check-input"
          type="checkbox"
          value="true"
          id="mishap"
          formControlName="gender"
        />
      </label>
    </div>
    <!-- text area -->
    <div class="row my-3">
      <div class="col-md-10">
        <label for="description">Description *</label>
        <textarea
          type="text"
          id="description"
          formControlName="description"
          class="form-control"
        ></textarea>
      </div>
    </div>
    <!-- switch -->
    <div class="form-check form-switch">
      <label class="form-check-label" for="mishap">Did a mishap occur?</label>
      <input
        class="form-check-input"
        type="checkbox"
        id="mishap"
        formControlName="mishap"
      />
      <div *ngIf="doccumentForm.value.mishap === true">
        <div class="col-md-10">
          <label for="mishapDescription">Misshap Description</label>
          <textarea
            type="text"
            id="mishapDescription"
            formControlName="mishapDescription"
            class="form-control"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="form-group"></div>
    <button
      type="submit"
      *ngIf="doccumentForm.valid && doccumentForm.touched"
      class="btn btn-primary"
    >
      Submit
    </button>
    <span
      *ngIf="!doccumentForm.valid && doccumentForm.touched"
      class="help-block"
      >Please fill out all inputs</span
    >
  </form>
</div>

<app-second-form></app-second-form>
