<div class="container">
  <input [(ngModel)]="searchText" placeholder="search text goes here" />
  <div class="row justify-content-center">
    <div
      class="card col-xl-5 col-md-10 m-3"
      *ngFor="let user of users | searchFilter: searchText:'name'"
    >
      <div class="text-center">
        <h1>{{ user.name }}</h1>
      </div>
      <hr />
      <div class="row p-5 fs-5 fs-bold">
        <div class="col">
          <p>DoD Id: {{ user.dodId }}</p>
          <p>Email: {{ user.email }}</p>
          <p>Branch: {{ user.branch }}</p>
          <p>Unit: {{ user.unit }}</p>
        </div>
        <div class="col">
          <p>Country: {{ user.country }}</p>
          <p>Gender: {{ user.gender }}</p>
          <p>Message: {{ user.message }}</p>
          <p *ngIf="user.active">Active Duty</p>
        </div>
        <div class="text-center">
          <p>Description: {{ user.description }}</p>
          <hr />
          <p *ngIf="user.mishapDescription">
            Mishap Description: {{ user.mishapDescription }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
